body {
    background-color: cyan;
}

hr {
    color: brown;
    height: 0px;
    width: 20%;
    border-style: none;
    border-top-style: dotted;
    border-width: 20px;
}


h1, h2, h3, h4, h5, h6 {
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
}
